@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    font-family: "Poppins", serif;
}
h1{
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}
h2{
    font-weight: 500;
    font-size: 2rem;
    margin-left: 300px;
    margin-right: 300px;
}
h3{
    font-weight: 500;
    font-size: 30px;
    margin-left: 300px;
    margin-right: 300px;
}
.p1{
    text-align: center;
}
.abu-abu{
    color: gray;
    text-align: left;
    margin-left: 300px;
    margin-right: 300px;
}
li{
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
}
p{
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
}
.a{
    font-size: 40px;
    font-weight: bold;
}
.daftarisi{
    color: blue;
}